/* ===================== */
/*    Style de la page   */
/* ===================== */

body {
    background-color: #041821;
  }
  
/* ===================== */
/*    Entête de la page  */
/* ===================== */

  header {
    display: flex; /* Utilise la format flex */
    justify-content: space-between; /* spérarer par un vide les image et le texte */
    align-items: center; /* Centrer verticalement */
    border-bottom: 1px solid #808080; /*mettre une bordure griz en dessous de l'entête*/
    padding: 20px; /*ajouter un contour de 20 px autour de tout les elements de l'entête*/
  }
  
  header h1 {                                  
    font-family: 'Yeseva One';        
    text-align: center;          
    color: white;             /* Affiche le texte de l'entête en police Yeseva One */
    font-size: 1.5em;         /* taille de la police*/
  }
  
  header h1 span {
    color: #1bd79e;     /* Uniquement l'élément dans l'entête en h1 et en span sera en vert */
  }
  
  header nav {
    text-align: center;     /* centre horizontalement les éléments dans l'entête nav */
  }
  
  header nav i {
    margin: 1em 0.5em;        
  }
  
  header nav a {
    color: white;        /* Emoji en blanc */
  }

/* ===================================== */
/*    les éléments au milieu de la page  */
/* ===================================== */

  main {
    width: 90%;
    margin: auto;          /* les éléments seront affiché sur 90% de la page en laissant 5% de bordure sur chaque coté*/    
    padding-top: 3em;     /* Ajoute une zone 3em (em est une taille de police)*/
    color: white;       /*couleur blanc*/
  }
  
  main h2 {
    font-family: 'Yeseva One';
    font-size: 2em;                  /* police d'ecriture Yesava One de taille 2em */
  }
  
  main span {
    color: #1bd79e;     /* couleur en vertpour l'élément dans le main et dans le span */
  }
  
  main p {
    color: #808080;
    margin: 20px 0px;                /* espacement en haut et en bas */
    font-family: "Montserrat";          /* paragraphe dans le main en gris en police Montserrat*/
  }

  /*les listes natures,portrait...*/
  main nav {
    display: flex;
    justify-content: center; /* Centre les listes*/
    margin: 0 25%; /* Ajoute une marge de 25% de chaque côté */
    margin-bottom: 20px;  /*  Espacement en haut */
    font-family: "Montserrat"; 
}

main nav a {
    margin: 0 10px; /* Ajoute de l'espace */
    text-align: center; /* Centre le texte*/
}

main nav a span {
    background-color: #1bd79e;   /* les coutour de l'element main nav a span est en vert */
    padding: 5px;           /* ajoute une zone de 5 px autour de l'element*/
    color: white;   /* l'element est écrit en blanc */
}
  

/* ================================= */
/*  La grille qui dispose les image  */
/* ================================= */
  
  .grid {
    display: grid;                   /*affichage en grille*/                               
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes sur PC */
    grid-gap: 0.5em;  /* Espacement entre les grille*/
  }
  
  .grid img {
    width: 100%;   /* Les image prends tout la largeur de la page */
  }
  
  .grid img:nth-child(n + 16) {  /* 15 image son affiché */ 
    display: none;     /* sans methode d'affichage */
  }
  
/* ===================== */
/*    bas de la page     */
/* ===================== */

  footer {
    text-align: center;     /* centrer le texte dans footer en couleur gris*/
    color: #808080;
  }
  
  
  footer p {
    margin: 20px 0px;     /* espacement vertical de 20 pixel */
    font-size: 0.75em;      /* taille de police de 0.75em*/
  }

/* ===================== */
/*      Telephone        */
/* ===================== */

  @media (max-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
    }
  
    main {
      width: 90%;     /* utilise 90% de la largeur de l'ecran sur téléphone */ 
      margin: auto;
    }
  
    main h2 {
      font-size: 2em;
    }

    p {
      font-size: 0.75em;
    }
  
    main nav {
      justify-content: center;          
      gap: 1em;  /* espacement entre les grille*/
    }
  
    main nav a {
      font-size: 0.75em;
    }
  
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes sur téléphone */
    }
  
    .grid img:nth-child(n + 9) {   /*afficher 9 image */
      display: block;
    }
  
    main p {
      width: 100%;
    }
  }
  

/* ===================== */
/*      Tablette         */
/* ===================== */

@media (min-width: 1024px) {

  main h2,
  main p {
    width: 60%;     /*utilise 60% de l'ecran sur tablette */
  }

  main nav button {
    font-size: 1em;    
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);  /* 4 colonnes sur tablette */
  }
}