/* ===================== */
/*    Style de la page   */
/* ===================== */

body {
    background-color: #041821;
  }
  
/* ===================== */
/*    Entête de la page  */
/* ===================== */

  header {
    display: flex; /* Utilise la format flex */
    justify-content: space-between; /* spérarer par un vide les image et le texte */
    align-items: center; /* Centrer verticalement */
    border-bottom: 1px solid #808080; /*mettre une bordure griz en dessous de l'entête*/
    padding: 20px; /*ajouter un contour de 20 px autour de tout les elements de l'entête*/
  }
  
  header h1 {                                 
    font-family: 'Yeseva One', cursive; 
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
  }
  
  header h1 span {
    color: #1bd79e;
  }
  
  header nav {
    text-align: center;
  }
  
  header nav i {
    margin: 1em 0.5em;
  }
  
  header nav a {
    color: white;
  }

  /* le main*/
  main {
    width: 90%;
    margin: auto;
    padding-top: 3em;
    color: white;
  }
  
  main h2 {
    font-family: 'Yeseva One';
    font-size: 2em;
  }
  
  main span {
    color: #1bd79e;
  }
  
  main p {
    color: #808080;
    margin: 20px 0px;
    font-family: "Montserrat";
  }

  /*les listes natures,portrait...*/
  main nav {
    display: flex;
    justify-content: center; /* Centre les listes*/
    margin: 0 25%; /* Ajoute une marge de 25% de chaque côté */
    margin-bottom: 20px;
    font-family: "Montserrat";
}

main nav a {
    margin: 0 10px; /* Ajoute de l'espace */
    text-align: center; /* Centre le texte*/
}

/* Style commun pour tous les liens */
main nav a span {
    background-color: #1bd79e;
    padding: 5px;
    color: white;
}
  
  
  /* la. grille avec les images */
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes sur PC */
    grid-gap: 0.5em;
  }
  
  .grid img {
    width: 100%;
  }
  
  .grid img:nth-child(n + 16) {
    display: none;
  }
  
  footer {
    text-align: center;
    color: #808080;
  }
  
  /* l'entête en tête'. */
  footer p {
    margin: 20px 0px;
    font-size: 0.75em;
  }
  
  footer p:last-child {
    font-size: 0.625em;
  }
  
  /*Téléphone */
  @media (max-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
    }
  
    main {
      width: 90%;
      margin: auto;
    }
  
    main h2 {
      font-size: 2em;
    }

    p {
      font-size: 0.75em;
    }
  
    main nav {
      justify-content: center;
      gap: 1em;
    }
  
    main nav a {
      font-size: 0.75em;
    }
  
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes sur téléphone */
    }
  
    .grid img:nth-child(n + 9) {
      display: block;
    }
  
    main p {
      width: 100%;
    }
  }
  
/*Tablette */
@media screen and (min-width: 1024px) {

  main h2,
  main p {
    width: 60%;
  }

  main nav button {
    font-size: 1em;    
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);  /* 4 colonnes sur tablette */
  }
}